//
//  Prod.xcconfig
//  VoiLog
//
//  Created by 遠藤拓弥 on 2024/05/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
ROLLBAR_KEY = a
ADMOB_KEY = ca-app-pub-3940256099942544/6300978111
REVENUECAT_KEY = a
RECORD_ADMOB_KEY = ca-app-pub-3940256099942544/6300978111
